<%- include('partials/header'); -%>

<%- include('partials/navForTeachers'); -%>

<div class="container">
    <h2> <%= course.teachCourseName %> </h2>

    <div class = "content">
        <p><strong>Course ID: </strong><%= course.teachCourseID %> </p><br>
        <p><strong>Number of Credit Hours: </strong><%= course.teachCourseCreditHours %> </p><br>
        <p><strong>Subject Area: </strong><%= course.teachCourseSubjectArea %> </p><br>
        <p><strong>Course Description: </strong><%= course.teachCourseDescription %> </p><br>
        
    </div>
    <br>
    <a class="delete" data-doc="<%= course.id %>">Delete</a> 
    <!-- making a class for edit  -->
    <!-- <a class="edit" data-doc=" blog.id %>">Edit</a> -->
</div>

<%- include('./partials/footer.ejs')%>

<script>
    //grabbing the class  of a classs= delete
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
        const endpoint = `/courses/${trashcan.dataset.doc}`;

        //sending delete request to endpoint 
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err));
    })
</script>

</body>
</html>